{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Caleb Tolase - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Caleb Tolase."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images/headshot.jpg' %}" alt="Caleb Tolase Akinnuoye" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Caleb Tolase</h1>
			<h2 class="quickFade delayThree">The Backend Guy</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li> aolutolacaleb@.gmailcom</li>
				<li><a href="www.linkedin.com/in/caleb-tolase-akinnuoye"> www.linkedin.com</a></li>
				<li> +234 815 6627 998</li>
				<li><img src="{% static 'images/zuri.png' %}" alt="" width="50px" height="50px" srcset=""></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>I am a Binary Gender Science student at Mountain Peak University currently on an internship program at Lincoln College. I love to learn new things and also work as a team player. I am highly interested in both hardware and software including non-binary systems, also I have a great interest in solving problems and providing different perspective to things.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
                <article>
                    <h2>Intern at Moon College</h2>
                    <p class="subDetails">May 2021 - Present</p>
                    <p>Here I am learning a lot on the basic usage of python and javascript. Understanding the fundamentals and its potentials. </p>
                </article>
                                
                <article>
                    <h2>Mathematician at Son Soon College</h2>
                    <p class="subDetails">May 2021 - August 2021</p>
                    <p>Enguaged in series of mathematical exercises to solve </p>
                </article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Basic Python</li>
					<li>Basic JavaScript</li>
					<li>Arduino</li>
					<li>Human Interaction</li>
					<li>Writer</li>
					<li>Good Public Speaker</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Mountain Peak University</h2>
					<p class="subDetails">Bs.C. Computer Science</p>
					<p>2018 - 2020</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>